<!--begin::Base Scripts -->
<script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<script src="/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
<script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
<script src="/assets/app/js/propios.js" type="text/javascript"></script>
<script src="/assets/app/js/summernoteEs.js" type="text/javascript"></script>
<script src="/assets/app/js/notify.js" type="text/javascript"></script>

<script src="https://cdn.rawgit.com/fengyuanchen/cropper/v2.0.1/dist/cropper.min.js"></script>