<meta property="og:title" content="{{system_metas.title}}">
<meta property="og:description" content="{{system_metas.description}}">
<meta property="og:image" content="{{system_metas.image}}">
<meta property="og:url" content="{{system_metas.url}}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="{{system_metas.title}}">
<meta name="twitter:image:alt" content="{{system_metas.description}}">
<meta name="description" content="{{system_metas.description}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">