{% extends 'masterIncludes/master.html'%} {% block styles %} {% endblock %} {% block contenido %}
  <div class="m-grid m-grid--hor m-grid--root m-page">
      <div class="m-grid__item m-grid__item--fluid m-grid  m-error-6">
        <div class="m-error_container">
          <div class="m-error_subtitle m--font-dark">
           <h1>ERROR 500!</h1>
            <h2>
              Algo salió mal
            </h2>
          </div>
          <p class="m-error_description m--font-dark">
            Parece que algo no resultó como lo planeamos
          </p>
        </div>
      </div>
    </div>
{% endblock %} {% block scripts %}
{% endblock %}