{% extends 'masterIncludes/master.html'%}
{% block styles %}

{% endblock %}
{% block contenido %}


  <div class="col-xl-2">
  </div>
  <div class="col-xl-8">
    <!-- Inicio de contenido -->
    <div class="m-portlet m-portlet--mobile">
            <img class="width-100" style="max-height: 300px;" src="{{institucion.image}}" alt="Foto I.E">
            <!-- <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">

                    </div>
                </div>
            </div> -->
        </div>

    <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" style="padding-top: 0;">
          <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <div class=" escudo_IE" style="">
              <img src=" {{institucion.shield}}" alt="" height="140px;">
            </div>
            <div class="info_proper_IE">
              <h2>
               {{institucion.name}}
              </h2>
              <p>
              
                {{institucion.type_name}}
              </p>
            </div>
          </div>
        </div>
        <div class="m-portlet__head-tools ">
          <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
            </li>
            <li class="m-portlet__nav-item">

                <i class="la  la-user"></i>
                <span>{{ participantes|length}}</span>

            </li>
            <li class="m-portlet__nav-item">

                <i class="flaticon-share"></i>
                <span>{{ proyectos|length}}</span>

            </li>
          </ul>
        </div>
      </div>
      <div class="m-portlet__body">
      </div>
    </div>
    <!-- Proyyectos -->
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"><i class="m-menu__link-icon icon-tittle  la la-bullseye" style="font-size: 2.3rem;"></i>Proyectos</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
         <div class="container-flex-row ie-search">
      {% for pr in proyectos %}
      <div class="container-flex-row active close-child element-item hide-toshow proyecto_cont transition metal  {{pr.active == 1 ? '': 'inactive'}} {{pr.type_name}}" id="user_thumb_{{loop.index}}" style="max-width: 239px">
        <a href="/proyectos/detalle/{{pr.id_clover}}" style="    width: 100%;"><div class="image_item30" style="background: url({{pr.clover_image}}); background-size: cover; background-repeat: no-repeat;">
          <div class="floating-icons">
            <span class="floating-icon-caracter">
            <li class="fa fa-{{pr.type_name == 'Privado' ? 'lock' : 'unlock'}}"></li>
          </span>
          <span class="floating-icon-participants">
            <li class="la la-user"></li>{{pr.participantes +1}}
          </span>
          </div>
        </div></a>
        <div class="conte_item30" >
          <h2 class="nombres">{{pr.clover_name|length > 20 ? pr.clover_name[:20]~'...' :  pr.clover_name}}</h2>
          <ul>
            <li>
            <span><i class="la la-shield"></i></span>
            <span>{{pr.institution_name}}</span>
            </li>
            <li>
            <span><i class="la la-building"></i></span>
            <span>{{pr.franchise_name}}</span>
            </li>
          </ul>
           <!-- QUE GROSERIA... AHI SE LO DEJO PARA QUE LE DE PENA <br> -->
            {% for p in usd.permisos %}
            {% if p.nombre == 'usuarios' %}
            <div class="btn-group  thumb-action-buttons" role="group" aria-label="First group">

              {% if p.r == 1 %}
              <a href="/proyectos/detalle/{{pr.id_clover}}" class="m-btn btn btn-success"><i class="la la-eye"></i></a>

              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
      </div>
    </div>
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"><i class="m-menu__link-icon icon-tittle  la la-building" style="font-size: 2.3rem;"></i>Sedes</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <section class="container-flex-row ie-search">
            {% for i in sede %}
            <article class="item-inst close-child element-item transition metal {{i.type_name}} {{i.active == 1 ? '': 'inactive'}} inst-edu inner-flex-inst " id="user_thumb_{{loop.index}}" data-category="transition" >
                    <div class="inst-icon" style="background: url({{i.image}}); background-size: cover; background-repeat: no-repeat;">
                    </div>
                    <div class="inst-content">
                        <strong>
                            <h2 class="nombres">{{i.franchise_name}}</h2>
                        </strong>
                        <span><i class="la la-building"></i></span><span>&nbsp;{{i.institution_name}}</span>
                    </div>
                    <div class="inst-resume">
                        <i class="m-menu__link-icon la la-bullseye"></i> <span>{{i.clovers}}</span>
                        <br>
                        <i class="m-menu__link-icon la  la-user"></i> <span>{{i.usuarios}}</span>
                    </div>
                    <div class="vertical-container">
                        {% for p in usd.permisos %}
                            {% if p.nombre == 'usuarios' %}

                                {% if p.r == 1 %}
                                <a href="/sedes/detalle/{{i.id_franchise}}" class="m-btn btn btn-success">
                                    <i class="la la-eye"></i>
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
           </article>
            {% endfor %}
    </section>
      </div>
    </div>
    <!-- Participantes -->

<div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"><i class="m-menu__link-icon icon-tittle  la la-user" style="font-size: 2.3rem;"></i>Participantes</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
      <section class="container-flex-row ie-search">
           {% for u in participantes %}
            <article class="item-inst close-child element-item transition metal {{u.active == 1 ? '': 'inactive'}} inst-edu inner-flex-inst " id="user_thumb_{{loop.index}}" data-category="transition" >
                    <div class="inst-icon" style="background: url({{u.profile_image}}); background-size: cover; background-repeat: no-repeat;">
                    <div class="floating-icons">
                       <span><i class="la la-bullseye"></i></span><span>&nbsp;{{u.proyectos}}</span>
                    </div>
                    </div>
                    <div class="inst-content">
                        <strong>
                            <h2 class="nombres">{{u.full_name}} {{u.last_name}}</h2>
                        </strong>
                        <span>@{{u.nick}}</span>
                        <br>
                        <span><i class="la la-shield"></i></span><span>&nbsp;{{u.institution_name}}</span>
                        <br>
                        <span><i class="la la-building"></i></span><span>&nbsp;{{u.franchise_name}}</span>
                    </div>
                    <div class="vertical-container">
                        {% for p in usd.permisos %}
                            {% if p.nombre == 'usuarios' %}

                                {% if p.r == 1 %}
                                <a href="/usuarios/detalle/{{u.id}}" class="m-btn btn btn-success">
                                    <i class="la la-eye"></i>
                                </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
           </article>
            {% endfor %}
          </section>
      </div>
    </div>

    <!-- Final de contenido -->
  </div>
  <div class="col-xl-2">
    <!--begin:: Widgets/Blog-->
    <!--end:: Widgets/Blog-->
  </div>


{% endblock %}
{% block scripts %}

{% endblock %}
