{% extends 'masterIncludes/master.html'%}
{% block styles %}

{% endblock %}
{% block contenido %}


  <div class="col-xl-2">
  </div>
  <div class="col-xl-8">
    <!-- Inicio de contenido -->
    <div class="m-portlet m-portlet--mobile">
            <img class="width-100" style="max-height: 300px;" src="{{institucion.image}}" alt="Foto I.E">
            <!-- <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">

                    </div>
                </div>
            </div> -->
        </div>

    <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" style="padding-top: 0;">
          <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <div class=" escudo_IE" style="">
              <img src=" {{institucion.shield}}" alt="" height="140px;">
            </div>
            <div class="info_proper_IE">
              <h2>
               {{institucion.name}}
              </h2>
            </div>
          </div>
        </div>

      </div>
      <div class="m-portlet__body">
      </div>
    </div>
    <!-- Proyyectos -->
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"><i class="m-menu__link-icon icon-tittle  la la-bullseye" style="font-size: 2.3rem;"></i>Proyectos</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="container-flex-row ie-search">

          {% for pr in proyectos %}
          <div class="container-flex-row active close-child element-item hide-toshow proyecto_cont transition   {{pr.active == 1 ? '': 'inactive'}}{{ pr.tag|replace({',':' '}) }}" id="user_thumb_{{loop.index}}" style="max-width: 239px">
            <a href="/proyectos/detalle/{{pr.id}}" style="    width: 100%;"><div class="image_item30" style="background: url({{pr.image}}); background-size: cover; background-repeat: no-repeat;">
            </div></a>
            <div class="conte_item30" >
              <h2 class="nombres">{{pr.name|length > 20 ? pr.name[:20]~'...' :  pr.name}}</h2>
              <p class="hide">{{pr.tag}}</p>
              <ul>
                <li>
                <span><i class="la la-shield"></i></span>
                <span>{{pr.institutionname}}</span>
                </li>
                <li>
                <span><i class="la la-building"></i></span>
                <span>{{pr.categoryname}}</span>
                </li>
              </ul>

                {% for p in usd.permisos %}
                {% if p.nombre == 'usuarios' %}
                <div class="btn-group  thumb-action-buttons" role="group" aria-label="First group">
                  {% if p.u == 1 or pr.id_cf == usd.id %}
                  <!-- poner boton editar -->
                  <a href="/proyectos/editar/{{pr.id}}" class="m-btn btn btn-primary"><i class="la la-edit"></i></a>
                  {% endif %}
                  {% if p.r == 1 %}
                  <a href="/proyectos/detalle/{{pr.id}}" class="m-btn btn btn-success"><i class="la la-eye"></i></a>

                  {% endif %}
                  {% if p.d == 1 and pr.active == 1   %}
                  {% if pr.id_cf == usd.id or usd.rol == 1%}
                  <!-- poner boton eliominar -->
                  <!-- <button type="button" class="m-btn btn btn-danger" data-toggle="modal" data-target="#m_modal_{{count}}"><a href=""><i class="la la-remove"></i></a></button>  -->
                  <button type="button" class="m-btn btn btn-danger confirm_action_data" data-token="{{token}}" data-idcontainer="user_thumb_{{loop.parent.loop.index}}" data-toggle="modal" data-confirm="{{pr.id}}"  data-target="#m_modal_confirm_delete"><i class="la la-remove"></i></button>
                  {% endif %}
                  {% endif %}
                  {% if p.u == 1 and pr.active != 1 %}
                  <button type="button" class="m-btn btn btn-primary confirm_action_activate" data-token="{{token}}" data-idcontainer="user_thumb_{{loop.parent.loop.index}}" data-toggle="modal" data-confirm="{{pr.id}}"  data-target="#m_modal_confirm_active"><i class="la la-check"></i></button>
                  {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Participantes -->

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text"><i class="m-menu__link-icon icon-tittle  la la-history" style="font-size: 2.3rem;"></i>Historial</h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="container-flex-row">
                <div class="m-timeline-1 m-timeline-1--fixed">
                    <div class="m-timeline-1__items">
                        <div class="m-timeline-1__marker"></div>
                        {% for h in historial %}
                        <div class="m-timeline-1__item ">
                            <div class="m-timeline-1__item-circle">
                                <div class="m--bg-danger"></div>
                            </div>
                            <div class="m-timeline-1__item-arrow"></div>
                            <span class="m-timeline-1__item-time m--font-brand">{{h.ca|date("Y/m/d")}}</span>
                            <div class="m-timeline-1__item-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{h.description|raw}}
                                    </div>
                                    <div class="col-md-8">
                                    {% for hi in files_historial %}
                                    {% if hi.id_belongs == h.id and hi.file_type == 1 %}
                                        <i class="m-menu__link-icon la la-file-video-o"></i>
                                    {% endif %}
                                    {% if hi.id_belongs == h.id and hi.file_type == 2 %}
                                        <i class="m-menu__link-icon la la-file-image-o"></i>
                                    {% endif %}
                                    {% if hi.id_belongs == h.id and hi.file_type == 3 %}
                                        <i class="m-menu__link-icon la la-file-audio-o"></i>
                                    {% endif %}
                                    {% endfor %}</div>
                                    <div class="col-md-3">
                                        <a href="/historial/detalle/{{h.id}}" class="btn btn-sm m-btn--custom m-btn--pill  btn-danger">
                                            Ver más
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a href="/Historial/nuevo/gMrJ7PbtreboluQF+avhBvpR1yg==/{{cripted}}" class="btn btn-sm m-btn--custom m-btn--pill  btn-danger">Crear nuevo historial</a>
        </div>
    </div>

    <!-- Final de contenido -->
  </div>
  <div class="col-xl-2">
    <!--begin:: Widgets/Blog-->
    <!--end:: Widgets/Blog-->
  </div>


{% endblock %}
{% block scripts %}

{% endblock %}
