{% extends 'masterIncludes/master.html'%} {% block styles %}
<style>
#short .note-insert {
    display: none
}
</style>
{% endblock %} {% block contenido %}
<div class="col-xl-2">
</div>
<div class="col-xl-8">
    <!-- Inicio de contenido -->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text theme_trebol_green_font">Nuevo proyecto</h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <form action="" id="newPoyect">
                 <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Nombre del proyecto * <small>(Usa un nombre corto para identificar tu proyecto)</small></label>
                    <input required type="text" class="form-control m-input" name="name" id="name">
                    <input type="hidden" value="{{id_proyectEn}}" name="next" id="next">
                </div>               

                 <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Categoria *</label>
                    <select class="form-control m-input--square" id="category" name="category">
                        <option value="">Seleccione una Categoria</option>
                        {% for r in category %}
                        <option value="{{r.id}}">{{r.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Institución *</label>
                    <select class="form-control m-input--square" id="institution" name="institution">
                        <option value="">Seleccione una institución</option>
                        {% for r in ins %}
                        <option value="{{r.id}}">{{r.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Detalle del proyecto * <small> (Detalle completo de el proyecto)</small></label>
                    <div class="col-lg-12 col-md-9 col-sm-12">
                        <div id="long-desc"></div>
                        <textarea id="text_long" name="text_long" class='hide'></textarea>
                    </div>
                </div>                
                <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Tags</label>
                    <input type="text" class="form-control tags" value="innovacion" name="tags" data-role="tagsinput" />
                </div>
                <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">Archivos </label>
                    <div class="form-group m-form__group row">
                        <div class="col-md-12 dropzone-container">
                            <div class="m-dropzone custom_dropzone" id="img_update" data-container="body" data-toggle="m-popover" data-placement="top" data-content="Arrástra y suelta aquí los archivos del proyecto, o haz clic aquí y seleccionalo." data-original-title="" title="">
                                <div class="m-dropzone__msg dz-message needsclick">
                                    <h3 class="m-dropzone__msg-title">
                                Ingresa los archivos del proyecto
                            </h3>
                                    <span class="m-dropzone__msg-desc">
                                Haz clic aquí y selecciona una imágen o arrastra una imágen
                             
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group m-form__group">
                    <input type="submit" id="enviar" data-original-title="Reload" class="btn btn-info" value="Crear proyecto">
                    <a href="/proyectos" class="btn btn-danger"> <span>
                     <i class="la la-close"></i>
                      <span>Regresar</span>
                 </span>
                </a>
                </div>
            </form>
        </div>
        <div class="m-portlet__body">
        </div>
    </div>
    <!-- Final de contenido -->
</div>
<div class="col-xl-2">
    <!--begin:: Widgets/Blog-->
    <!--end:: Widgets/Blog-->
</div>
{% endblock %} {% block scripts %}
<script>
$('#short-desc').summernote({
    height: 200,
    lang: 'es-ES' // set editor height
})
$('#long-desc').summernote({
    height: 500,
    lang: 'es-ES'
})
$(document).ready(function() {
    $('.note-editable').keyup(function() {

        $('#text_long').val($('#long-desc').summernote('code'))
    })





});


var t = {};


// modal window template
var modalTemplate = ' <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Cortar imagen</h4></div><div class="modal-body"><div class="image-container"></div></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><button type="button" class="btn btn-primary crop-upload">Listo</button></div></div></div></div></div>'

function dataURItoBlob(dataURI) {
    var byteString = atob(dataURI.split(',')[1]);
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], { type: 'image/jpeg' });
}

// initialize dropzone
Dropzone.autoDiscover = false;

var img_update = new Dropzone('#img_update', {
    dictFileTooBig: "El archivo pesa mas de lo esperado.",
    autoProcessQueue: false, 
    parallelUploads:10,
    url: '/Imagenes/image/proyecto/{{id_proyect}}/1',
    accept: function(file, done) {
        done();
    },
    complete(a, b) {
        //
    },
    success: function(m, r) {
        console.log(r)
        // img_update.removeAllFiles(true);
        // if (r.status == 6) {
        //     propuesta = r.idp;
        //     let images = '.m-card-profile .m-card-profile__pic .m-card-profile__pic-wrapper img, .m-topbar__userpic img, .m-card-user .m-card-user__pic img';
        //     // $(images).attr("src", "/uploads/images/users/"+r.msj+"?"+new Date().getTime());
        //     $(images).attr("src", "/uploads/images/institutions/" + r.msj + "?" + new Date().getTime());

        //     var img = $('#shield').val()
        //     d = new Date();
        //     $('.img_shield').attr('src', img + '?' + d.getTime())
        //     notify('Escudo de la instuticion agregado correctamente!', 'flaticon-exclamation-2', 'success')
        // } else {
        //     notify('Hubo un error al subir la imagen', 'la la-warning', 'danger')
        // }

    },
    sending(a, b, c) {
        //c.append("token", $("#token").val());
    }
});
// listen to thumbnail event
img_update.on('thumbnail', function(file) {
    // ignore files which were already cropped and re-rendered
    // to prevent infinite loop
    if (file.cropped) {
        return;
    }
    if (file.width < 1000 && file.height < 300) {
        // validate width to prevent too small files to be uploaded
        // .. add some error message here
        return;
    }
    // cache filename to re-assign it to cropped file
    var cachedFilename = file.name;
    // remove not cropped file from dropzone (we will replace it later)
    img_update.removeFile(file);

    // dynamically create modals to allow multiple files processing
    var $cropperModal = $(modalTemplate);
    // 'Crop and Upload' button in a modal
    var $uploadCrop = $cropperModal.find('.crop-upload');

    var $img = $('<img />');
    // initialize FileReader which reads uploaded file
    var reader = new FileReader();
    reader.onloadend = function() {
        // add uploaded and read image to modal
        $cropperModal.find('.image-container').html($img);
        $img.attr('src', reader.result);
        // initialize cropper for uploaded image
        $img.cropper({
            aspectRatio: 1 / 1,
            autoCropArea: 1,
            movable: false,
            cropBoxResizable: true,
            minContainerWidth: 700,
            minContainerHeight: 700
        });
    };
    // read uploaded file (triggers code above)
    reader.readAsDataURL(file);

    $cropperModal.modal('show');

    // listener for 'Crop and Upload' button in modal
    $uploadCrop.on('click', function() {
        // get cropped image data
        var blob = $img.cropper('getCroppedCanvas').toDataURL();
        // transform it to Blob object
        var newFile = dataURItoBlob(blob);
        // set 'cropped to true' (so that we don't get to that listener again)
        newFile.cropped = true;
        // assign original filename
        newFile.name = cachedFilename;

        // add cropped file to dropzone
        img_update.addFile(newFile);
        // upload cropped file with dropzone
        $cropperModal.modal('hide');
    });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#text_short").keyup(function() {
        // 
        $('.text-Copunter').html('Quedan ' + (200 - $(this).val().length) + ' caracteres')
        if ($(this).val().length >= 200) {
            $(this).html($(this).val().substring(0, 200))
            $(this).blur()
            $('.text-Copunter').html('Quedan ' + (200 - $(this).val().length) + ' caracteres')
        }
    })

});
</script>
<script src="/assets/app/js/jquery-ajax-blob-arraybuffer.js" type="text/javascript"></script>
<script src="/assets/app/js/proyecto.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
{% endblock %}